
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800|Montserrat:300,400,500,600,600i,700|Raleway:300,400,500,600,700,700i&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 500;
}
a.logo {
  font-size: 22px;
  font-weight: 700;
}

.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainmenu li {
  display: inline-block;
}

.mainmenu li a {
  color: #243ec3;
  padding: 15px;
  text-decoration: none;
}

a {
}

.mainmenu li a:hover {
  border-bottom: 2px solid #3f43b7;
}

input[type="text"] {
  border: 2px solid #251d9a;
  padding: 5px 15px;
}

input[type="submit"] {
  background: #384bb1;
  color: #fff;
  padding: 7px 15px;
  border: none;
}

header.header {
  padding: 18px 0;
}

img {
  max-width: 100%;
}

.container-block {
  padding: 48px 0;
}

.single-image h5 {
  color: #3167a0;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Darker Grotesque', sans-serif;
  margin-bottom: 0;
  margin-top: 15px;
}

.single-image p {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 600;
  font-size: 19px;
  color: #304d79;
  opacity: .7;
}
.photo-wrapper {
  height: 190px;
}

.photo-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.single-image {
  margin-bottom: 35px;
}
.row.marg-gapx {
  margin-bottom: 30px;
}
/* single image */
.photo-sing-info h4 {
  font-size: 20px;
  color: #1d2a8c;
  opacity: .7;
}

.photo-sing-info h3 {
  font-size: 24px;
  color: #1d10ca;
}

.photo-sing-info ul {
  margin: 0;
  padding: 0;
}

.photo-sing-info li {
  list-style: none;
  color: #776e6e;
}

.photo-sing-info li span {
  color: #f376a2;
  font-size: 21px;
  font-family: 'Raleway', sans-serif;
}